body {
  margin-right: auto;
  margin-left: auto;
  /*width: 2000px;*/
}

header {
  background-color: #e32636;
  height: 50px; 
  margin-bottom: 20px;
}

nav {
  background-color: #e32695;
  height: 400px;
  width: 25%;
  float: left;
}

footer {
  background-color: #2695e3;
  height: 50px;
  width: 100%;
  float: left;
  clear: both;
}

#content {
  background-color: WhiteSmoke;
  height: 2000px;
  width: 75%;
  float: right;
}

article {
  margin: 20px;
  background-color: #36e326; 
  height: 200px;
  width: 500px;
}

aside {
  background-color: #26e3d3;
  height: 1200px;
  width: 300px;
}