#scene {
  /*background: url(http://4.bp.blogspot.com/_XU9x8G7khv0/S7z1H0OGShI/AAAAAAAAOIk/0vOyNHj-a9g/s1600/spring-wallpaper-1280x800-0912087.jpg) no-repeat;*/
  background: url(http://localhost/poc-web/parallax/P4040055.JPG) no-repeat;
  width: 3072px;
  height: 2048px;
}

h1.anni {
  color: white;
  font: 72px/72px 'Henny Penny', cursive;
  padding: 40px 80px;
}

#pictures {
}             

.picture { 
  position: absolute;      
}

.picture img {
  -moz-box-shadow: 1px 1px 12px #555;
  -webkit-box-shadow: 1px 1px 12px #555;
  box-shadow: 1px 1px 12px #555;
}  
